In [1]:
import pandas as pd
import numpy as np

# Membaca File & Mengumpulkan Beberapa Informasi Tentang dataset

### Membaca File yang Berbeda

In [3]:
# CVS #
df=pd.read_csv("../Data/laptops.csv")

# Excel #
# df=pd.read_excel("D:/data.xlsx")

# # Json # 
# df=pd.read_json("D:/data.json",lines=True)

# # Zip File #
# df=pd.read_csv("D:/data zip file.zip",compression='zip')

# ## *** Different Encoded File *** ##
# encodings_to_try = ['utf-8', 'Latin-1', 'ISO-8859-1']
# for encoding in encodings_to_try:
#     try:
#         df = pd.read_csv('../Data/laptops.csv', encoding=encoding)
#         print("File read successfully with encoding:", encoding)
#         break
#     except UnicodeDecodeError:
#         print('Sorry')

# df.head()

### Menampilkan semua baris atau kolom

In [8]:
# Tampilkan Semua Baris
df=pd.read_csv("../Data/laptops.csv")
pd.set_option('display.max_rows', None) 
df.head()

# # Tampilkan Semua Kolom
# df=pd.read_csv("../Data/laptops.csv")
# pd.set_option('display.max_columns', None)
# df


# # Display all the baris and kolom
# df=pd.read_csv("../Data/laptops.csv")
# pd.set_option('display.max_rows', None)  
# pd.set_option('display.max_columns', None) 
# df

,CompanyName,TypeOfLaptop,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,MSI,Business Laptop,17.040680,IPS Panel Retina Display 2560x1600,Intel Core i7,12GB,512GB SSD,Intel Iris Xe Graphics,Linux,2.064834,35844.099371
1,Chuwi,2 in 1 Convertible,16.542395,Full HD,Intel Core i5,12GB,128GB PCIe SSD,Intel Iris Xe Graphics,No OS,4.060656,37019.059051
2,hp,WorkStation,17.295294,Full HD,Intel Xeon E3-1505M,8GB,1TB HDD,Intel Iris Xe Graphics,Linux,2.901689,33329.360341
3,MSI,2 in 1 Convertible,11.526203,2K,Intel Core i7,16GB,512GB NVMe SSD,Intel Iris Xe Graphics,Windows 10,2.914843,68631.102486
4,Microsoft,Gaming,12.649634,Full HD,Intel Core i5,8GB,512GB SSD,AMD Radeon RX 5600M,Windows 10,4.341995,33842.479566

### Ubah nama kolom

In [9]:
df.columns = df.columns.str.strip()
df.rename(columns={'OldName1': 'NewName1', 'OldName2': 'NewName2', 'OldName3': 'NewName3'}, inplace=True)
df.head()

,CompanyName,TypeOfLaptop,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,MSI,Business Laptop,17.040680,IPS Panel Retina Display 2560x1600,Intel Core i7,12GB,512GB SSD,Intel Iris Xe Graphics,Linux,2.064834,35844.099371
1,Chuwi,2 in 1 Convertible,16.542395,Full HD,Intel Core i5,12GB,128GB PCIe SSD,Intel Iris Xe Graphics,No OS,4.060656,37019.059051
2,hp,WorkStation,17.295294,Full HD,Intel Xeon E3-1505M,8GB,1TB HDD,Intel Iris Xe Graphics,Linux,2.901689,33329.360341
3,MSI,2 in 1 Convertible,11.526203,2K,Intel Core i7,16GB,512GB NVMe SSD,Intel Iris Xe Graphics,Windows 10,2.914843,68631.102486
4,Microsoft,Gaming,12.649634,Full HD,Intel Core i5,8GB,512GB SSD,AMD Radeon RX 5600M,Windows 10,4.341995,33842.479566

### Dapatkan semua Kolom numerik

In [10]:
# Get all the numerical column name
numerical_columns = df.select_dtypes(include=['int64','int32','float64','float32']).columns.tolist()
numerical_columns

# Get all the numerical column as dataframe
numerical_df = df[df.select_dtypes(include=['int64','int32','float64','float32']).columns.tolist()]
numerical_df.head()

      Inches    Weight         Price
0  17.040680  2.064834  35844.099371
1  16.542395  4.060656  37019.059051
2  17.295294  2.901689  33329.360341
3  11.526203  2.914843  68631.102486
4  12.649634  4.341995  33842.479566

### Dapatkan semua kolom kategoris

In [11]:
# Get all the numerical column name
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

# Get all the numerical column as dataframe
categorical_df = df[df.select_dtypes(include=['object']).columns.tolist()]
categorical_df.head()

,CompanyName,TypeOfLaptop,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys
0,MSI,Business Laptop,IPS Panel Retina Display 2560x1600,Intel Core i7,12GB,512GB SSD,Intel Iris Xe Graphics,Linux
1,Chuwi,2 in 1 Convertible,Full HD,Intel Core i5,12GB,128GB PCIe SSD,Intel Iris Xe Graphics,No OS
2,hp,WorkStation,Full HD,Intel Xeon E3-1505M,8GB,1TB HDD,Intel Iris Xe Graphics,Linux
3,MSI,2 in 1 Convertible,2K,Intel Core i7,16GB,512GB NVMe SSD,Intel Iris Xe Graphics,Windows 10
4,Microsoft,Gaming,Full HD,Intel Core i5,8GB,512GB SSD,AMD Radeon RX 5600M,Windows 10

### Ambil Subset dari kerangka data

In [26]:
len(df)

100

In [27]:
# Change 30000 with your desired number of rows
df=df.sample(100,random_state=2)
df = df.reset_index(drop=True)

### Acak kumpulan data

In [28]:
df = df.sample(frac=1).reset_index(drop=True)

### Tetapkan kolom baru sebagai indeks

In [30]:
print(df.columns)

Index(['CompanyName', 'TypeOfLaptop', 'Inches', 'ScreenResolution', 'Cpu',
       'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight', 'Price'],
      dtype='object')

In [34]:
# # Setting single column  as the index
# df.set_index('TypeOfLaptop', inplace=True)

# # # Setting multiple columns  as the index
# # df.set_index(['Col1', 'Col2'], inplace=True,drop=True)

### Atur Ulang Indeks Kerangka Data

In [35]:
df.reset_index(inplace=True)

### Menampilkan Kerangka Data

In [36]:
# Display top 1-50 rows
df.head()

# Display  1-50 rows from the end
df.tail()

# Display any 1-50 rows
df.sample()

,index,TypeOfLaptop,CompanyName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
47,47,Gaming,MSI,15.597628,Full HD,Intel Core i5,16GB,6TB HDD,Intel Iris Xe Graphics,No OS,3.605314,42365.792103

### Bentuk DataFrame

In [37]:
df.shape

(100, 12)

### Informasi DataFrame

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             100 non-null    int64
 1   TypeOfLaptop      100 non-null    object
 2   CompanyName       100 non-null    object
 3   Inches            100 non-null    float64
 4   ScreenResolution  100 non-null    object
 5   Cpu               100 non-null    object
 6   Ram               100 non-null    object
 7   Memory            100 non-null    object
 8   Gpu               100 non-null    object
 9   OpSys             100 non-null    object
 10  Weight            100 non-null    float64
 11  Price             100 non-null    float64
dtypes: float64(3), int64(1), object(8)
memory usage: 9.5+ KB

### Deskripsi DataFrame

In [39]:
df.describe()

            index      Inches      Weight          Price
count  100.000000  100.000000  100.000000     100.000000
mean    49.500000   14.552512    3.378209   52207.622733
std     29.011492    2.033914    0.874652   15413.440706
min      0.000000   11.176630    2.000819   30142.557908
25%     24.750000   12.719390    2.636406   39687.416153
50%     49.500000   14.608426    3.356231   50339.643509
75%     74.250000   16.381694    4.194575   62839.094075
max     99.000000   17.936836    4.854704  108584.765016

### Tipe data kolom

In [45]:
# Single Column
df['TypeOfLaptop'].dtypes

# All the column
df['index'].dtypes

dtype('int64')

### Semua nama kolom

In [46]:
df.columns

Index(['index', 'TypeOfLaptop', 'CompanyName', 'Inches', 'ScreenResolution',
       'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight', 'Price'],
      dtype='object')

### Nilai Unik(isi Variabel) suatu kolom

In [50]:
df['CompanyName'].unique()

array(['Apple', 'Microsoft', 'hp', 'Dell', 'Acer', 'lenevo', 'MSI',
       'Asus', 'Chuwi'], dtype=object)

# Nilai terbesar dan terkecil dari suatu kolom

In [ ]:
# Change the number in the bracket
largest=df["Column_name"].nlargest(6)

# Change the number in the bracket 
smallest=df["Column_name"].nsmallest(10)

# Temukan duplikat dan hapus nilai duplikat

In [ ]:
# Get duplicate
duplicate=df['Column_name'].duplicated().sum()

# Drop Duplicate
drop_duplicate=df['Column_name'].drop_duplicates()

# Jumlah nilai unik suatu kolom

In [ ]:
# Count of unique values of a column
pd.set_option('display.max_rows', None)
count_value=df['Column_name'].value_counts()

# Count of unique values of a column in percentage
pd.set_option('display.max_rows', None)
df['Column_name'].value_counts(normalize=True)* 100

# Ubah Tipe Data Kolom

In [ ]:
# Float
df['Column_name'] = df['Column_name'].astype(float)

# Object
df['Column_name'] = df['Column_name'].astype('category')

# int
df['Column_name'] = df['Column_name'].astype(int)

#Datetime
df['Date_col_name'] = pd.to_datetime(df['Date_col_name'])

# Also can specify the format
df['Date_col_name'] = pd.to_datetime(df['Date_col_name'], format='%Y-%m-%d')

###

# Hapus kolom dan baris

In [ ]:
# Drop the single column
df = df.drop('Column_name', axis=1, inplace=True)

# Drop multiple columns
df = df.drop(['Column_name1','Column_name2'], axis=1, inplace=True)

# Drop a single row
df = df.drop(row_number, axis=0, inplace=True)
Ex---> df = df.drop(4, axis=0, inplace=True)

# Drop multiple rows
df = df.drop([row_number1,row_number2,row_number3...], axis=0, inplace=True)
Ex--> df = df.drop([3,6,11], axis=0, inplace=True)
    
# Drop rows of the dataframe using column values
df = df[df['Column_name'] != 'value']
Ex---> df = df[df['Brand'] != 'Others']

# Pemilihan kolom dan baris

In [ ]:
# Single Column
single_column = df['ColumnName']

# Select multiple columns
multiple_columns = df[['Column1', 'Column2']]

# Single Row
single_row=df.loc[[row_number]]
Ex---> single_row=df.loc[[2]]

# Multiple 
multiple_rows_iloc = df.loc[[row_number,row_number,row_number..]]
Ex---> multiple_rows_iloc = df.loc[[2,4,5]]

# Take only specific characters of a column
df['Column_name'] = df['Column_name'].astype(str).str[:number]
Ex---> df['Year'] = df['Year'].astype(str).str[:4]

# Select Range of rows
df1=df.loc[num:num]
Ex--> df1=df.loc[5:8]
Ex--> df1=df.loc[:8]
Ex--> df1=df.loc[8:]

# Singe value of Single column 
singe_value_of_Single column=df.loc[row_number,"Column_name"]
Ex---> singe_value_of_Single column=df.loc[4,"Airline"]

# Single Column multiple rows
single_column_multiple_rows=df.loc[num:num,"Column_name"]
Ex---> single_column_multiple_rows=df.loc[1:3,"Airline"]

# Multiple row multiple columns
multiple_row_multiple_columns=df.loc[num:num,["Column_name1","Column_name2"]]
Ex---> multiple_row_multiple_columns=df.loc[1:3,["Name","Grade","Ranking"]]

# Using condition to select
df1=df.loc[df["Airline"]== "IndiGo"]
df1=df.loc[df["Id"]< 4]


# Get last rows
last_10_rows_index = df.index[-10:]
last_10 = df.loc[last_10_rows_index]

# # Filter DataFrame

In [ ]:
'''
&--> AND operator
|--> OR operator
'''
mask1=df['Column_name']=="Value"
df[mask1]

Ex:1---> 
mask1=df['CarName']=="BMW"
df[mask1]

Ex:2--->
mask1=df['CarName']=="BMW"
mask2=df['FuleType']=="Gas"
df=df[mask1 & mask2]
df.head()

Ex:3--->
mask1=df['CarName']=="BMW"
mask2=df['FuleType']=="Gas"
mask3=df['Transmission']=="Automatic"
df=df[mask1 & (mask2 | mask3)]
df.head()

Ex:4--->
mask1=df['CarName']=="BMW"
mask2=df['Price']<=40000
df=df.loc[mask1 & mask2,["Total marks","Grade","Ranking"]]
df.head()

Ex:5--->
mask1=df['CarName']=="BMW"
mask2=df['Price'].between(40000,754000)
df=df.loc[mask1 & mask2,["Grade","Ranking"]]
df.head()

# Memisahkan kolom

In [ ]:
# Below comma(,) used as separator. Change it according to  your need
df[['First', 'Second']] = df['Column'].str.split(',', expand=True)

# Using regular expression
import re
df[['First', 'Second']] = df['Column'].str.extract(r'ID: (\d+) Name: (\w+)')

# Gabungkan, Gabungkan dan Gabung kolom

In [ ]:
# Merge side by side
df=pd.merge(df1,df2,right_index=True,left_index=True)

# Concatinate >> stack type
df=pd.concat([df1,df2],ignore_index=True)

# Join side by side
df=df1.join(df2)

# Urutkan dataframe

In [ ]:
# Ascending order
df=df.sort_values(by="column_name",ascending=True)

# Descending order
df=df.sort_values(by="column_name",ascending=False)

# Sort using multiple column
df= df.sort_values(by=['Column1', 'Column2'], ascending=False)

# Sort using index number
df =df.sort_index(ascending=False)

# Buat dan tambahkan kolom baru (DataFrame)

In [ ]:
list=[]
for i in df['ColName']:
    list.append(i)
df['New_Column_name']=list

# Ganti kolom

In [ ]:
data = {'A': [1, 2, 3], 'B': ['x', 'y', 'z']}
df = pd.DataFrame(data)

new_data = ['p', 'q', 'r']

df['B'] = pd.Series(new_data)
df

# Buat Dataframe

In [ ]:
x=[1,2,3]
df=pd.DataFrame(x)
df



x={"id":[1,2,3],"Name":["R","A","F"],"Ratting":[4.00,3.50,3.45]}
df=pd.DataFrame(x)
df



x=[{"id":1,"Name":"A","Ratting":3.0},{"id":2,"Name":"B","Ratting":5.0}]
df=pd.DataFrame(x)
df

# Buat seri

In [ ]:
x=[1,"data frame","python","data science"]
df=pd.Series(x)
df


x=[1,2,3]
df=pd.Series(x,dtype=float)
df

# Periksa nilai yang hilang

In [ ]:
# For single column in percentage
df['Airline'].isnull().sum()/df.shape[0]*100

# For all columns in percentage
df.isnull().sum()/df.shape[0]*100

# For all column
df.isnull().sum()

# Fungsi Dropna

axis: Parameter ini menentukan apakah akan membuang baris atau kolom. Secara default, parameter ini ditetapkan ke 0 (baris). Menetapkannya ke 1 akan membuang kolom dengan nilai NaN.

how: Parameter ini menentukan kriteria yang digunakan untuk membuang nilai NaN. Opsinya adalah:     

'any'   : Membuang baris atau kolom jika ada nilai NaN (default).      
'all'   : Membuang baris atau kolom hanya jika semua nilai adalah NaN.     
thresh  : Parameter ini memerlukan jumlah minimum nilai non-NaN. Misalnya, thresh=2 akan membuang baris atau kolom yang memiliki kurang dari dua nilai non-NaN.

In [ ]:

df=df.dropna()

df=df.dropna(axis=1)

df=df.dropna(how="all")

df=df.dropna(thresh=4,axis=0)

df=df.dropna(how="all")

# Fungsi Fillna

In [ ]:
# Fill using a fixed values
df=df.fillna("FFFFF")
df['column_name']=df['column_name'].fillna("FFFFF")

# Fill using forward cell values of the missing cell
df=df.fillna(method="ffill")
df['column_name']=df['column_name'].fillna(method="ffill")

# Fill using previous cell values of the missing cell
df=df.fillna(method="bfill")
df['column_name']=df['column_name'].fillna(method="bfill")

# Ganti Nilai

In [ ]:
# Replace multiple
df['Column_Name'] = df['Column_Name'].str.replace('₹', '').str.replace(',', '')

##### Code to take only text not symbol ###########
import re
df['Column_Name'] = df['Column_Name'].str.replace(r'[^a-zA-Z\s]', '')


# Replace single
df['Column_Name'] = df['Column_Name'].str.replace(',', '')

# Replace multiple values using dictionary
replace_dict = {'A': 'Apple', 'B': 'Banana', 'C': 'Cherry'}
df['column_name'].replace(replace_dict, inplace=True)


###################################################
'''
The values of the list of  will not be replaced and other 
values will be replaced of the selected column
'''
given_car_brands = [
    'Toyota', 'Hyundai', 'Mazda', 'Holden', 'Ford', 'Mitsubishi', 'Nissan',
    'Volkswagen', 'Kia', 'Mercedes-Benz', 'Subaru', 'BMW', 'Audi', 'Honda',
    'Jeep', 'Suzuki', 'MG', 'Land', 'Isuzu', 'GWM', 'Lexus', 'Renault',
    'Volvo', 'LDV', 'Skoda'
]

df['Column_Name'] = df['Column_Name'].apply(lambda x: x if x in given_car_brands else 'Others')
# Here other is that value which we want to replace

# Nilai numerik dan kategoris yang bersih

In [ ]:
# For numerical column take only numerical values and remove other character and symbol
import re
df['Column_name'] = df['Column_name'].str.replace(r'\D', '', regex=True)

# For Categorical column take only character and number values and remove other  symbol
df['Column_name'] = df['Column_name'].str.replace(r'[^a-zA-Z0-9]', '', regex=True)

# KNN imputer dan imputer sederhana

**Anda tidak perlu mengubah kode:**
1. Jika kerangka data Anda hanya berisi kolom numerik, pilih kode pertama.
2. Jika kerangka data Anda hanya berisi kolom kategoris, pilih kode kedua.
3. Jika kerangka data Anda berisi kolom kategoris & numerik, pilih kode ketiga.

In [ ]:


### ************ For all numerical column ************** ######
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)  
df_imputed = imputer.fit_transform(df)  
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)



### ********** For all categorical column ************ #########
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
df = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)



### ********** For both categorical and numerical columns ********** ###########
numerical_columns = df.select_dtypes(include=['number']).columns.tolist()
numerical_df=df[numerical_columns]
knnimputer = KNNImputer(n_neighbors=5)  
numerical_cln_df = knnimputer.fit_transform(numerical_df)  
numerical_cln_df = pd.DataFrame(numerical_cln_df, columns=numerical_df.columns)

categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_df = df[categorical_columns]
categorical_imputer = SimpleImputer(strategy='most_frequent')
categorical_cln_df = pd.DataFrame(categorical_imputer.fit_transform(categorical_df), columns=categorical_df.columns)

df=pd.merge(categorical_cln_df,numerical_cln_df,right_index=True,left_index=True)

# Simpan file dalam format berbeda

In [ ]:
df.to_excel("new_file_name.xlsx")
df.to_csv("new_file_name.csv")
df.to_csv("new_file_name.json")

# Kelompokkan berdasarkan

In [ ]:
# *****Single Column********
g1 =df.groupby(['column_name'])['group_val_column_name'].mean().reset_index()
g1=g1.sort_index(ascending=False)
g1

Ex:---->
g1 =df.groupby(['Car'])['Price'].mean().reset_index()
g1=g1.sort_index(ascending=False)
g1

# ******** Multiple Column **********
g1 =df.groupby(['column_name','column_name'...])['group_val_column_name'].sum().reset_index()
g1=g1.sort_index(ascending=False)
g1

Ex:--->
g1 =df.groupby(['car','transmission'])['price'].sum().reset_index()
g1=g1.sort_index(ascending=False)
g1

# Agregat

In [ ]:
result1 = df.groupby('Column_name')['Value_column_name'].agg(['mean', 'max', 'min']).reset_index()

result1 = df.groupby('car')['Price'].agg(['mean', 'max', 'min']).reset_index()